body {
  background-image: url(../img/bg2.jpg);
}
@font-face {
  font-family: myBranding;
  src: url(../css/fonts/Carybe.otf);
}

@font-face {
  font-family: navFonts;
  src: url(../css/fonts/casaSans.ttf);
}
@font-face {
  font-family: cardFont;
  src: url(../css/fonts/Quicksand_Light.otf);
}

.welcome {
  font-family: navFonts;
  color: #fff;
}
.welcomeBrand {
  font-family: myBranding;
  font-size: 800%;
  padding-bottom: 5%;
}
.welcomeBtn {
  margin-top: 5%;
  border-radius: 15px;
  padding: 2%;
  background-color: #634c40ee;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  border-radius: o;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-family: navFonts;
  font-size: 150%;
}

.navbar-brand {
  padding: 15px;
  font-family: myBranding;
  font-size: 300%;
  color: #fff;
}
.myBrand {
  color: #fff !important;
}
.navbar-brand:hover {
  background-color: #634c4090 !important;
}

.navbar-inverse .navbar-nav .active > a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  background-color: #634c4090;
  color: #fff;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
}

li:hover {
  background-color: #634c4090;
}

.pull-left {
  float: left;
}
#aboutPic1 {
  margin-right: 15px;
}

.myAbout {
  background-color: #634c40b7;
  color: #fff;
  margin-top: 3%;
  padding: 2%;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 110%;
}
.card-group {
  display: flex;
  margin-top: 10px;
}

.card {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  font-family: cardFont;
}
.card-text {
  width: 200px;
  word-wrap: break-word;
}

#lastRow {
  margin-bottom: 20px;
}
.myMail {
  text-decoration: none;
  color: #fff;
}
.myMail:hover {
  color: orange;
}
.myMail:focus {
  color: #fff;
}

footer {
  width: 100%;
  background-color: #634c4090;
  padding: 1%;
  padding-bottom: 0 !important;
  color: #fff;
  float: clear;
  bottom: 0;
  position: fixed;
  font-family: navFonts;
}
.fab {
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.fas {
  padding: 10px;
  font-size: 30px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .fab {
    padding: 5px;
    font-size: 10px;
  }
  .fas {
    padding: 5px;
    font-size: 20px;
  }
  .myFooterText {
    font-size: 80%;
    padding: 2px;
    margin: 0;
  }
  .myFooterBreak {
    display: none;
  }
  .card-group {
    display: block;
  }
  .card {
    width: 200px;
    font-size: 80%;
  }
  .card-text {
    width: 200px;
  }

  h* {
    font-size: 80%;
  }
}
